{% extends "base.html" %} {% load static %} {% block title %}Address Book{% endblock title %} {% block ex_link %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> {% endblock ex_link %} {% block main_body %}
<div class="limiter" style="margin-top: 5%;">
    <div class="container-table100">
        <div class="wrap-table100">
            <h1 style="margin: 0% 0% 2% 0%;">Address Book:-</h1>
            <!-- Block for message -->
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for message in messages %} {{message}} {% endfor %}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table class="scrolldown">
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column0">Sr No</th>
                                <th class="cell100 column1">First Name</th>
                                <th class="cell100 column2">Last Name</th>
                                <th class="cell100 column3">Email</th>
                                <th class="cell100 column4">Street</th>
                                <th class="cell100 column5">Zip-Code</th>
                                <th class="cell100 column6">City</th>
                                <th class="cell100 column7">Actions1</th>
                                <th class="cell100 column8"> Actions2</th>
                            </tr>
                        </thead>
                        <tbody class="table100-body js-pscroll">
                            {% for address in address_detail %}
                            <tr class="row100 body" style="color: aliceblue;">
                                <td class="cell100 column0">{{forloop.counter}}</td>
                                <td class="cell100 column1">{{address.first_name}}</td>
                                <td class="cell100 column2">{{address.last_name}}</td>
                                <td class="cell100 column3">{{address.user_email}}</td>
                                <td class="cell100 column4">{{address.street}}</td>
                                <td class="cell100 column5">{{address.zip_code}}</td>
                                <td class="cell100 column6">{{address.city_name}}</td>
                                <td class="cell100 column7">
                                    <a class="btn btn-success btn-m" style="color: aliceblue;" role="button" href="/edit_address/{{address.id}}">Edit</a>
                                </td>
                                <td class="cell100 column8 ">
                                    <a class="btn btn-danger btn-m" style="color: aliceblue;" role="button" href="/delete_address/{{address.id}}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_body %}