{% extends "base.html" %} {% load static %} {% block title %}Address Book{% endblock title %}{% block main_body %}
<div class="container my-5 py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
            <div class="card my-4 shadow-3" style="background-color: #cfcfcf;">
                <div class="row g-0 justify-content-center align-items-center">
                    <div class="col-xl-6">
                        <div class="card-body p-md-5 text-black">
                            <h3 class="mb-4 text-uppercase">Adress Info</h3>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1m" class="form-control inputstyle form-control-lg" />
                                        <label class="form-label" for="form3Example1m">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1n" class="form-control inputstyle form-control-lg" />
                                        <label class="form-label" for="form3Example1n">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example8" class="form-control inputstyle form-control-lg" />
                                <label class="form-label" for="form3Example8">Street</label>
                            </div>

                            <div class="row">
                                <!-- <div class="col-md-6 mb-4">
                                    <select class="select">
                                        <option value="1">State</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                    </select>
                                </div> -->
                                <div class="col-md-5 mb-4">
                                    <select class="select">
                                        <option value="1">City</option>
                                        <option value="2">Option 1</option>
                                        <option value="3">Option 2</option>
                                        <option value="4">Option 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control inputstyle form-control-lg" />
                                <label class="form-label" for="form3Example3">Zip</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example2" class="form-control inputstyle form-control-lg" />
                                <label class="form-label" for="form3Example2">Email</label>
                            </div>

                            <div class="d-flex justify-content-end pt-3">
                                <button type="button" class="btn btn-success btn-lg ms-2" style="background-color: hsl(210, 100%, 50%)">Save Data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_body %}